<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= naive_translate("head title", @conn.assigns.lang)%></title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"></link>

</head>

<body>
  <header>
    <div class="ui large fixed inverted menu">
    <div class="ui container">
      <a href="/" class="header item">
        <img class="logo" src="/images/<%=naive_image_chooser("logo", @conn.assigns.lang)%>">
      </a>
      <a href="/" class="item"><%=naive_translate("home", @conn.assigns.lang)%></a>
      <a href="/posts/<%=@conn.assigns.about_blog_permlink%>" class="item"><%=naive_translate("about", @conn.assigns.lang)%></a>
      <a href="<%=if @conn.assigns.lang == "ru", do: "https://golos.io", else: "https://steemit.com"%>" class="item"><%=naive_translate("about_steemlike_chain", @conn.assigns.lang)%></a>
    </div>
    </div>
  </header>
  <div class="ui container">
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    <main role="main">
         <%= render @view_module, @view_template, assigns %>
    </main>

  </div> <!-- /container -->
    <footer>
      <div class="ui large inverted menu">
       <div class="ui container">
       </div>
      </div>
    </footer>
<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
