<div class="ui main text container">
    <div class="">
      <a href="https://github.com/cyberpunk-ventures/glasnost/blob/master/README-en.md">Glasnost docs</a>
      <a href="https://github.com/cyberpunk-ventures/glasnost/blob/master/README-ru.md">Glasnost доки</a>
    </div>
</div>
