<div class="ui main text container">
    <div class="">
      <a href="https://github.com/cyberpunk-ventures/glasnost/blob/master/README-en.md">
        <h1>Glasnost docs</h1>
        </a>
      <a href="https://github.com/cyberpunk-ventures/glasnost/blob/master/README-ru.md">
        <h1>Glasnost доки</h1>
        </a>
    </div>
</div>
