<div class="onboarding" >
    <div class="ui header">
      Admin key
    </div>
    <div class="ui red segment">
      <p><%= @password %></p>
    </div>
      <%= form_tag "/admin/mark_password_as_saved", [csrf_token: true, id: "password"] do %>
      <%= submit "I've saved the admin key", class: "ui submit button" %>
    </div>
  <% end %>
</div>
